<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.cloud_note.dao.NoteDao">
	<!-- 根据笔记本id查询相关的笔记 -->
	<select id="findByBookId" parameterType="String" resultType="Map">
		select cn_note_id,cn_note_title from cn_note
		where cn_notebook_id =#{bookId} and cn_note_status_id='1'
	</select>
	
	<!-- 根据笔记id查询笔记的相关内容 -->
	<select id="findByNoteId" parameterType="String" resultType="Note">
		select * from cn_note
		where cn_note_id =#{noteId}
	</select>
	
	<!-- 更新笔记内容,返回类型为int为update改变的行数 -->
	<update id="updateNote" parameterType="Note">
		update cn_note set cn_note_title=#{cn_note_title},
		cn_note_body=#{cn_note_body},
		cn_note_last_modify_time=#{cn_note_last_modify_time}
		where cn_note_id=#{cn_note_id}
	</update>
	
	<!-- 创建笔记 -->
	<insert id="addNote" parameterType="Note">
		insert into cn_note (cn_note_id,cn_notebook_id,cn_user_id,cn_note_status_id,cn_note_type_id,cn_note_title,cn_note_body,cn_note_create_time,cn_note_last_modify_time)
		values(#{cn_note_id},#{cn_notebook_id},#{cn_user_id},#{cn_note_status_id},#{cn_note_type_id},#{cn_note_title},#{cn_note_body},#{cn_note_create_time},#{cn_note_last_modify_time})
	</insert>
	
	<!-- 根据笔记id删除笔记,其实就是将note_status设置为0-->
	<update id="deleteByNoteId" parameterType="String">
		update cn_note set cn_note_status_id=2
		where cn_note_id=#{cn_note_status_id}
	</update>
	
	<!-- 根据用户id查询回收站的笔记 -->
	<select id="findByUserId" parameterType="String" resultType="Map">
		select cn_note_id,cn_note_title from cn_note
		where cn_user_id =#{userId} and cn_note_status_id='2'
	</select>
	
	<!-- 彻底删除笔记 -->
	<delete id="deleteForever" parameterType="String">
		delete from cn_note where cn_note_id=#{noteId}
	</delete>
	
	<!-- 将笔记移动到另一个笔记本中 -->
	<update id="moveNote" parameterType="Note">
		update cn_note set cn_notebook_id=#{cn_notebook_id}
		where cn_note_id=#{cn_note_id}
	</update>
	
	<!-- 将回收站中的笔记复原 -->
	<update id="rollbackNote" parameterType="Note">
		update cn_note set cn_notebook_id=#{cn_notebook_id},cn_note_status_id='1'
		where cn_note_id=#{cn_note_id}
	</update>
</mapper>