<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.cloud_note.dao.ShareNoteDao">
	<!--分享笔记-->
	<insert id="shareNote" parameterType="ShareNote">
		insert into cn_share (cn_share_id,cn_share_title,cn_share_body,cn_note_id)
		values(#{cn_share_id},#{cn_share_title},#{cn_share_body},#{cn_note_id})
	</insert>
	
	<!-- 根据笔记id(cn_note_id)查询分享笔记表中的记录 -->
	<select id="findByNoteId" parameterType="String" resultType="ShareNote">
		select * from cn_share
		where cn_note_id=#{cn_note_id}
	</select>
	
	<!-- 根据笔记名关键字查询分享笔记表中的记录 -->
	<select id="findByKeyword" parameterType="Map" resultType="ShareNote">
		select * from cn_share 
		where cn_share_title like #{title} limit #{begin},3
	</select>
	
	<!-- 根据分享笔记id查询分享笔记的内容 -->
	<select id="findByShareNoteId" parameterType="String" resultType="ShareNote">
		select * from cn_share
		where cn_share_id=#{cn_share_id}
	</select>
</mapper>